@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --primary-color: #047aed;
  --main-white: #fff;
  --main-red: #a30d44;
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f4f4;
  max-width: 100%;
}

/* General styles */

ul li {
  list-style: none;
}
button {
  border-radius: 5px;
  font-size: 1.2em;
  outline: none;
}
a {
  text-decoration: none;
}
a,
button {
  cursor: pointer;
  text-transform: capitalize;
}

/* Nav */

header {
  background: var(--primary-color);
}

.container {
  min-height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
  color: var(--main-white);
}

.logo a {
  font-size: 1.2em;
}
.logo a,
.links a {
  color: var(--main-white);
}
.links a:hover {
  opacity: 0.9;
}
.hamburger {
  display: block;
  cursor: pointer;
}

/* About */

#about-me {
  padding: 2rem;
}

.text-wrapper {
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1px;
  height: 80%;
}

.text-wrapper h2 {
  font-size: 2em;
}
.colored {
  color: var(--main-red);
  font-size: 1.3em;
}
.text-wrapper p {
  margin-top: 1rem;
  font-size: 1em;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contact-wrapper a {
  margin: 2rem 0;
  color: var(--primary-color);
  border-bottom: 2px solid var(--main-red);
  font-size: 1.5em;
}
.contact-wrapper a:hover {
  opacity: 0.7;
}

.btn-intouch {
  margin-left: 1rem;
  width: 8rem;
  height: 3rem;
  background: var(--primary-color);
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  color: var(--main-white);
}

.btn-intouch:hover {
  background: none;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

/* Project begin */
#projects h1 {
  font-size: 2em;
  letter-spacing: 0.1px;
  text-align: center;
}
.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1rem;
  text-align: center;
  height: 100%;
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  text-align: center;
}
.project img {
  margin: 1rem 0 2rem 0;
  max-width: 100%;
  width: 25rem;
  height: 20rem;
  object-fit: cover;
  object-position: top center;
  border-radius: 5px;
}

.btn-project {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 80%;
}
.btn-project a {
  border: 2px solid var(--main-white);
  padding: 0.75rem 0.88rem;
  border-radius: 8px;
  color: var(--main-white);
  text-decoration: none;
  background-color: var(--primary-color);
}

.btn-project a:hover {
  background-color: var(--main-white);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

/* Form start */

#form-section {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
#form-section.show-form {
  visibility: visible;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: snow;
  width: 80%;
  text-align: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.form-input {
  margin: 1rem;
}
.form-input label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5rem;
}

.form-input input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  outline: none;
}

.form-input textarea {
  padding: 1rem;
  width: 100%;
}
.form-input p {
  color: var(--main-red);
  font-size: smaller;
  visibility: hidden;
}
#submit {
  width: 50%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--primary-color);
  color: var(--main-white);
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

.btn-close {
  position: absolute;
  right: 0;
  color: var(--main-white);
  background-color: var(--main-red);
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
}

/* Footer start */
footer {
  background-color: var(--primary-color);
  color: var(--main-white);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper a {
  color: inherit;
}

.socials a:hover {
  color: #000;
}

@media screen and (max-width: 768px) {
  .links {
    position: absolute;
    top: 15vh;
    right: 0;
    background: var(--primary-color);
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .links li {
    height: 100%;
  }
  .links a {
    font-size: 1.5em;
  }
  .show {
    transform: translateX(0%);
  }
}
@media screen and (min-width: 768px) {
  .links {
    display: flex;
    justify-content: space-between;
    padding: 0rem 3rem;
    width: 100%;
  }

  .links li a {
    margin: 0 2rem;
    font-size: 1.2em;
  }
  .hamburger {
    display: none;
  }
  .text-wrapper h2 {
    font-size: 2.2em;
  }
  .colored {
    color: var(--main-red);
    font-size: 2em;
  }
  .text-wrapper p {
    font-size: 1.2em;
  }

  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .project {
    width: 100%;
  }
  .project img {
    width: 80%;
    margin-bottom: 0;
  }
  .btn-project {
    padding: 2rem;
    justify-content: center;
  }
  .btn-project a {
    margin: 0 1rem;
  }

  form {
    width: 50%;
  }
}
